<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f56c1fb3-36aa-47c7-833c-6197753b99c2</Key>
    <Name>Action email</Name>
    <Alias>ActionEmail</Alias>
    <Icon>icon-message-unopened</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="d09ae4d2-c538-49dc-aee9-d8c8e7be639b">EmailBase</Master>
    <Compositions>
      <Composition Key="d09ae4d2-c538-49dc-aee9-d8c8e7be639b">EmailBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>