<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Images - Multinode Treepicker" Key="158bafb1-c3cd-4e93-b640-001ac102a428" Id="Umbraco.MultiNodeTreePicker" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="146" Value="{&#xD;&#xA;  &quot;type&quot;: &quot;media&quot;&#xD;&#xA;}" Alias="startNode" />
    <PreValue Id="147" Value="" Alias="filter" />
    <PreValue Id="148" Value="1" Alias="minNumber" />
    <PreValue Id="149" Value="19" Alias="maxNumber" />
    <PreValue Id="150" Value="1" Alias="showOpenButton" />
    <PreValue Id="151" Value="1" Alias="showEditButton" />
    <PreValue Id="152" Value="1" Alias="showPathOnHover" />
  </PreValues>
</DataType>