<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d09ae4d2-c538-49dc-aee9-d8c8e7be639b</Key>
    <Name>Email base</Name>
    <Alias>EmailBase</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Master>
    <Compositions>
      <Composition Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f1faae14-b8dc-4992-bfe7-334a10401553</Key>
      <Name>Attachments</Name>
      <Alias>attachments</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1078553f-91c1-4375-9147-5e9ba00838cf</Key>
      <Name>BCC</Name>
      <Alias>bcc</Alias>
      <Definition>40b869d0-fc35-4292-b522-fd91b756580f</Definition>
      <Type>perplexMailEmailPickerMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b96dfe73-bb7d-4ed4-9cb9-70370546fe2d</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a67cc36-a1d8-42b9-bfe9-61b28c21dd8f</Key>
      <Name>CC</Name>
      <Alias>cc</Alias>
      <Definition>40b869d0-fc35-4292-b522-fd91b756580f</Definition>
      <Type>perplexMailEmailPickerMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c15ad12c-2b21-482f-b581-a250a1df7242</Key>
      <Name>Disable automated logging</Name>
      <Alias>disableAutomatedLogging</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Logging</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>514ab50b-df5e-4437-8184-9ded5248f9fe</Key>
      <Name>Email template</Name>
      <Alias>emailTemplate</Alias>
      <Definition>72434fdc-59e2-48f8-b3b2-58f528b36da5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the template that this e-mail will use for basic layout and content.

Take note that you can only select published templates]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3aee2c35-3dab-4ca8-bc91-369d33fe57a6</Key>
      <Name>From</Name>
      <Alias>from</Alias>
      <Definition>2f614037-e33d-417b-a466-fb7c04df942d</Definition>
      <Type>perplexMailEmailPickerMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1fae7e02-af88-4276-a38e-4b7f625efdcd</Key>
      <Name>Log expiration</Name>
      <Alias>logExpiration</Alias>
      <Definition>45d6ee36-bed6-4b24-b4d8-afc225ff3da5</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this value is left blank, the global (parent's) value will be used instead]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Logging</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8ebbda8b-bff5-4dde-accc-f016ae853f88</Key>
      <Name>Reply to</Name>
      <Alias>replyTo</Alias>
      <Definition>40b869d0-fc35-4292-b522-fd91b756580f</Definition>
      <Type>perplexMailEmailPickerMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6aac328d-e1a0-4407-a2c0-9e862a970dbe</Key>
      <Name>Send test e-mail</Name>
      <Alias>sendTestEMail</Alias>
      <Definition>81a420f3-aa79-4f67-9aa0-ba6abee08335</Definition>
      <Type>perplexMailSendTestEmail</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the recipient's e-mailaddress.

Please take note that test emails will only be sent to the specified receiver here and not to BCC or CC receivers.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Send test</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0281a9b8-000e-464e-af7d-6b673dad2f34</Key>
      <Name>Statistics</Name>
      <Alias>statistics</Alias>
      <Definition>c8c85339-840c-4542-874c-728d7d1a1071</Definition>
      <Type>perplexMailStatistics</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Statistics</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d33f6fca-9198-4378-8383-ccb2809f4236</Key>
      <Name>Subject</Name>
      <Alias>subject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7db5f7f6-a008-4239-b7cc-66ea0c45e813</Key>
      <Name>Text version</Name>
      <Alias>textVersion</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(Optional) Provide an alternate text-only (non-HTML) version of your e-mail that is read by recipient devices that do not support complex HTML.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Alternate (text) version</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>92865ee2-d46a-4f4b-a464-bda15fcfa015</Key>
      <Name>To</Name>
      <Alias>to</Alias>
      <Definition>40b869d0-fc35-4292-b522-fd91b756580f</Definition>
      <Type>perplexMailEmailPickerMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Alternate (text) version</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Send test</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Statistics</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Logging</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>