<?xml version="1.0" encoding="utf-8"?>
<suburb guid="8f0493c3-8f15-4f12-a5e6-1a0c7017d896" id="1196" nodeName="Helderkruin (1)" isDoc="" updated="2016-04-20T14:56:57.78Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="32" published="true">
  <geo><![CDATA[-26.1241653,27.86923760000002]]></geo>
</suburb>