@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<header id="page-title">
				<div class="container">
					<h1>About <strong>Us</strong></h1>

					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">@CurrentPage.Name</li>
					</ul>
				</div>
</header>