@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    

<div class="wrapper" style="margin-top: 250px;">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- carousel -->
                <div class="owl-carousel controlls-over nomargin owl-theme owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;singleItem&quot;: true, &quot;navigation&quot;: true, &quot;pagination&quot;: true, &quot;transitionStyle&quot;:&quot;fadeUp&quot;, &quot;itemsScaleUp&quot;:true}" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper" style="width: 1336px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                            <div class="owl-item" style="width: 334px;">
                                <div>
                                    <img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/4.jpg">
                                </div>
                            </div><div class="owl-item" style="width: 334px;">
                                <div>
                                    <img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/5.jpg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-chevron-left"></i></div><div class="owl-next"><i class="fa fa-chevron-right"></i></div></div></div>
                </div>
                <!-- /carousel -->
            </div>
            <div class="col-md-6">
                <h2><a class="styleColor" href="realestate-single.html">1200 Anastasia Ave Coral</a></h2>
                <small class="block styleSecondColor fsize20">$350.000</small>
                <p>Dramatic pictures are released showing the destruction wrought by a huge boulder that smashed through a farm.</p>
                <p>
                    <span class="fsize12 pull-right">
                        <i class="bed-ico" title="beds"></i> 3 ,
                        <i class="garage-ico" title="garage"></i> 1 ,
                        <i class="furnished-ico" title="furnished"></i>
                    </span>
                    <i class="home-ico"></i> 300m<sup>2</sup>
                </p>
                <a href="realestate-single.html" class="btn btn-default">READ MORE</a>
            </div>
        </div>
    </section>
</div>