@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var root = Umbraco.TypedContentAtRoot().First();

    var inshow = root.DescendantOrSelf("inShow");

}
<!-- FILTER BOX -->

<form>
    <div class="row">
        <div class="form-group">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>Province</label>
                <select class="form-control" id="Province" name="Province">
                    <option value="0">----Select----</option>
                    @foreach (var item in inshow.Children())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <script type="text/javascript">

                R("#Province").change( function (event) {
                   
                    var url = "/inshow/" + R("#Province option:selected").text() + "?x=true&children=true"
                  
                    R.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        error: function () {
                            alert(" An error occurred.");
                        },
                        success: function (data) {
                           
                            var optionhtml1 = '<option value="' +
                             0 + '">' + "--Select City--" + '</option>';
                            R("#cities").append(optionhtml1);
                            debugger;
                            R.each(data.entities, function (i) {
                               
                                var optionhtml = '<option value="' +
                            data.entities[i].properties.Id + '">' + data.entities[i].properties.Name + '</option>';
                                R("#cities").append(optionhtml);
                            });
                        }
                    });
                });
            </script>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>Location</label>
                <select class="form-control" id="cities" name="cities">
                   
                </select>
            </div>
           
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>Type</label>
                <select class="form-control" name="re_type">
                    <option value="0">Any</option>
                    <option value="1">Apartment</option>
                    <option value="2">Villa</option>
                    <option value="3">Family House</option>
                    <option value="4">Condo</option>
                    <option value="5">Cottage</option>
                    <option value="6">Building Area</option>
                    <option value="7">Single Home</option>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">

            <div class="col-md-2 col-sm-6 col-xs-6">
                <label>Beds</label>
                <select class="form-control" name="re_beds">
                    <option value="0">Any</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10+">10+</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <label>Baths</label>
                <select class="form-control" name="re_baths">
                    <option value="0">Any</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10+">10+</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <label>Price From</label>
                <select class="form-control" name="re_price_from">
                    <option value="0">Any</option>
                    <option value="100000">R 100 000</option>
                    <option value="200000">R 200 000</option>
                    <option value="300000">R 300 000</option>
                    <option value="400000">R 500 000</option>
                    <option value="500000">R 600 000</option>
                    <option value="600000">R 700 000</option>
                    <option value="700000">R 700 000</option>
                    <option value="800000">R 800 000</option>
                    <option value="900000">R 900 000</option>
                    <option value="1000000">R 1 000 000</option>
                    <option value="2000000">R 2 000 000</option>
                    <option value="3000000">R 3 000 000</option>
                    <option value="4000000">R 4 000 000</option>
                    <option value="5000000">R 5 000 000</option>
                    <option value="6000000">R 6 000 000</option>
                    <option value="7000000">R 7 000 000</option>
                    <option value="8000000">R 8 000 000</option>
                    <option value="9000000">R 9 000 000</option>
                    <option value="10000000">R 10 000 000</option>
                    <option value="11000000">R 11 000 000</option>
                    <option value="12000000">R 12 000 000</option>
                    <option value="13000000">R 13 000 000</option>
                    <option value="14000000">R 14 000 000</option>
                    <option value="15000000">R 15 000 000+</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
                <label>Price To</label>
                <select class="form-control" name="re_price_to">
                    <option value="0">Any</option>
                    <option value="100000">R 100 000</option>
                    <option value="200000">R 200 000</option>
                    <option value="300000">R 300 000</option>
                    <option value="400000">R 500 000</option>
                    <option value="500000">R 600 000</option>
                    <option value="600000">R 700 000</option>
                    <option value="700000">R 700 000</option>
                    <option value="800000">R 800 000</option>
                    <option value="900000">R 900 000</option>
                    <option value="1000000">R 1 000 000</option>
                    <option value="2000000">R 2 000 000</option>
                    <option value="3000000">R 3 000 000</option>
                    <option value="4000000">R 4 000 000</option>
                    <option value="5000000">R 5 000 000</option>
                    <option value="6000000">R 6 000 000</option>
                    <option value="7000000">R 7 000 000</option>
                    <option value="8000000">R 8 000 000</option>
                    <option value="9000000">R 9 000 000</option>
                    <option value="10000000">R 10 000 000</option>
                    <option value="11000000">R 11 000 000</option>
                    <option value="12000000">R 12 000 000</option>
                    <option value="13000000">R 13 000 000</option>
                    <option value="14000000">R 14 000 000</option>
                    <option value="15000000">R 15 000 000+</option>

                </select>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <label>&nbsp;</label>
                <button class="btn btn-primary fullwidth">FILTER NOW</button>
            </div>
        </div>
    </div>

</form>
