@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


						<h3 class="page-header nomargin-top">
							<a href="realestate-list.html" data-toggle="tooltip" title="" data-original-title="view more"><i class="fa fa-plus-square-o"></i></a> 
							@CurrentPage.heading <strong class="styleColor">Properties</strong> 
						</h3>

						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/2.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>700 Front Street, Key West, FL</h4>
										<small>$350.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/6.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/7.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/8.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

						</div>


						<h3 class="page-header">
							<a href="realestate-list.html" data-toggle="tooltip" title="" data-original-title="view more"><i class="fa fa-plus-square-o"></i></a> 
							<strong class="styleColor">Best</strong> Deal
						</h3>

						<div class="row">

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/3.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/4.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="/assets/images/demo/realestate/images/thumb/5.jpg" width="409" height="271">
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

						</div>

					