@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<section class="container">

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="featured-box noradius responsive-line-bottom">
                <i class="lightgray fa fa-map-marker hidden-xs"></i>
                <h4>Listing</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a href="page-left-sidebar.html" class="btn btn-primary btn-xs">READ MORE</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="featured-box noradius line-left responsive-line-bottom">
                <i class="lightgray fa fa-globe hidden-xs"></i>
                <h4>Advertise</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a href="page-pricing.html" class="btn btn-primary btn-xs">READ MORE</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="featured-box noradius line-left">
                <i class="lightgray fa fa-road hidden-xs"></i>
                <h4>Guidance</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                <a href="page-right-sidebar.html" class="btn btn-primary btn-xs">READ MORE</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="featured-box noradius line-left">
                <i class="lightgray fa fa-key hidden-xs"></i>
                <h4>Free Tiral</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                <a href="page-full-width.html" class="btn btn-primary btn-xs">READ MORE</a>
            </div>
        </div>
    </div>

</section>