<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Buyer - OTP - Numeric" Key="25883d99-670d-469f-a126-2403a2956778" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="94" Value="" Alias="min" />
    <PreValue Id="95" Value="" Alias="step" />
    <PreValue Id="96" Value="" Alias="max" />
  </PreValues>
</DataType>