<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>36effeaa-245e-4453-9104-2dcd02724e2f</Key>
    <Name>__Welcome</Name>
    <Alias>welcome</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d70b7ac-0cd8-43a2-acf4-5f5e1e21b02f</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>814d970e-6cc0-415c-a199-11556470533e</Definition>
      <Type>Umbraco.TinyMCEv3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f47168f3-2e61-41ab-a67c-ced11cc85fcd</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>4b8c84e9-1998-417b-a9bb-e38e6438f602</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>