<?xml version="1.0" encoding="utf-8"?>
<suburb guid="7d9632ff-7d69-4430-97b1-041495fda3c5" id="1203" nodeName="Horizon Park" isDoc="" updated="2016-04-20T14:56:58.98Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="39" published="true">
  <geo><![CDATA[-26.13994,27.86982999999998]]></geo>
</suburb>