<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>fe9f8223-9280-414a-966f-79d87a2bc962</Key>
    <Name>Content Info</Name>
    <Alias>contentInfo</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Master>
    <Compositions>
      <Composition Key="36effeaa-245e-4453-9104-2dcd02724e2f">welcome</Composition>
      <Composition Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Composition>
    </Compositions>
    <DefaultTemplate>ContentInfo</DefaultTemplate>
    <AllowedTemplates>
      <Template>ContentInfo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4827bc2c-30f8-4334-bebc-d42dccc029d3</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>40826366-72e0-4fa4-add8-7010015646ee</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>