<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Bathrooms - Numeric" Key="db542751-9aad-4b42-8a3d-733a0ca2e5ee" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="51" Value="1" Alias="min" />
    <PreValue Id="52" Value="1" Alias="step" />
    <PreValue Id="53" Value="20" Alias="max" />
  </PreValues>
</DataType>