<?xml version="1.0" encoding="utf-8"?>
<suburb guid="bd0fca70-4b3b-4baf-a80b-8013773b9ed0" id="1173" nodeName="Creswell Park" isDoc="" updated="2016-04-20T14:56:55.693Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="9" published="true">
  <geo><![CDATA[-26.17218279999999,27.87949249999997]]></geo>
</suburb>