<?xml version="1.0" encoding="utf-8"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>master</Name>
    <Key>deace2f2-07d8-4081-a60b-76264947fd59</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>contentAbout</Name>
    <Key>18580efe-7599-4981-97ab-39ccddd41569</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\content-about\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>contentInfo</Name>
    <Key>fe9f8223-9280-414a-966f-79d87a2bc962</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\content-info\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>home</Name>
    <Key>b169208d-9959-49c5-8796-961dd92c8d01</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\home\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>inShow</Name>
    <Key>af3f05be-ba81-4076-bfbf-e01c10e9ebde</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\inshow\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>province</Name>
    <Key>442da6d1-877a-4f2c-97fe-9ce763c3f475</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\inshow\province\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>city</Name>
    <Key>93a3a2a1-5487-4934-880a-793956534078</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\inshow\province\city\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>suburb</Name>
    <Key>20118a72-94ff-45dd-981f-ba53017fb7ac</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\inshow\province\city\suburb\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>property</Name>
    <Key>1eb29642-1c4f-4c69-b51f-34b723ecc0c1</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\inshow\province\city\suburb\property\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>page</Name>
    <Key>c324f5af-68bf-4f2e-8264-92b005d84863</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\page\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>schedule</Name>
    <Key>23edd3ab-ef90-438e-a6b6-44bb7373a084</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\schedule\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>users</Name>
    <Key>7cfa594d-c4a0-4ea8-ac36-18b19b474da0</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\users\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>registerUser</Name>
    <Key>087bcad5-ab0a-41c8-8e33-6168817d6754</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\__registeruser\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>registerUserFormula</Name>
    <Key>4ad89e83-d80e-44dc-8e00-dcc80c8caf07</Key>
    <Action>Rename</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\master\__registeruserformula\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>welcome</Name>
    <Key>36effeaa-245e-4453-9104-2dcd02724e2f</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\__welcome\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>