<?xml version="1.0" encoding="utf-8"?>
<suburb guid="b1d4eb5d-8420-49af-8ef5-61e0f1d9f73c" id="1225" nodeName="Princess AH" isDoc="" updated="2016-04-20T14:57:00.58Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="58" published="true">
  <geo><![CDATA[-26.1569267,27.834740600000032]]></geo>
</suburb>