<?xml version="1.0" encoding="utf-8"?>
<suburb guid="5b7286bf-6be1-4830-a78c-7fbe8abb34a5" id="1186" nodeName="Florida Lake" isDoc="" updated="2016-04-20T14:56:57.017Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="22" published="true">
  <geo><![CDATA[-26.1739223,27.897070999999983]]></geo>
</suburb>