<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9c95b82e-4faf-4988-8d3e-e155e239053f</Key>
    <Name>Email template folder</Name>
    <Alias>EmailTemplateFolder</Alias>
    <Icon>icon-layout</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Master>
    <Compositions>
      <Composition Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <DocumentType Key="f506f90b-d052-4302-a163-3102a59b0279">EmailTemplate</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>