@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    InShow.GenereatedModels.ModelWrapper mw = new InShow.GenereatedModels.ModelWrapper();
    try
    {

        var mem = Members.GetCurrentMember();

        if (mem.DocumentTypeAlias == "agency")
        {
            mw.agency = new InShow.GenereatedModels.Agency(mem);
        }
        if (mem.DocumentTypeAlias == "agent")
        {
            mw.agent = new InShow.GenereatedModels.Agent(mem);
        }
    }
    catch
    {

    }
    var imageurl = mw.agency?.Logo ?? mw.agent?.Picture ?? "/assets/img/avatar.jpg";

}
<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>RDash AngularJS</title>
  <!-- STYLES -->
    <link rel="stylesheet" href="/assets/lib/css/main.min.css"/>
    <link href="/scripts/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="~/scripts/angular-xeditable/dist/css/xeditable.css" rel="stylesheet" />
    <link href="~/scripts/ngImgCrop/ng-img-crop.css" rel="stylesheet" />
    <link href="~/scripts/toaster/toaster.css" rel="stylesheet" />
    <link href="~/scripts/ng-dialog/css/ngDialog.css" rel="stylesheet" />
    <link href="~/scripts/ng-dialog/css/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="~/scripts/ng-dialog/css/ngDialog-theme-plain.css" rel="stylesheet" />
    <!-- SCRIPTS -->
  <!-- Custom Scripts -->
    <script src="/scripts/jquery/dist/jquery.js"></script>
    <script src="/scripts/angular.js"></script>

    <script src="/scripts/angular-route.js"></script>
    <script src="/scripts/angular-cookies/angular-cookies.js"></script>
    <script src="/scripts/angular-bootstrap/ui-bootstrap.js"></script>
    
    <script src="/scripts/angular-ui-router.js"></script>
    <script src="/scripts/angular-resource.js"></script>
    <script src="~/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="~/scripts/angular-messages/angular-messages.min.js"></script>
    <script src="/assets/js/angular-file-upload.js"></script>
    <script src="~/scripts/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="~/scripts/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="~/scripts/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="~/scripts/toaster/toaster.js"></script>
    <script src="~/scripts/ngImgCrop/ng-img-crop.js"></script>
    <script src="~/scripts/api-check/dist/api-check.js"></script>
    <script src="~/scripts/angular-formly/dist/formly.js"></script>
    <script src="~/scripts/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    <script src="~/scripts/ng-dialog/js/ngDialog.js"></script>




    <script src="~/scripts/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>


    <script type="text/javascript" src="/assets/js/rdash/rdash.min.js"></script>

  

</head>
<body ng-controller="MasterCtrl">
    <toaster-container></toaster-container>
   
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li style="color:aliceblue;background-color:white" class="sidebar-main">
          <a style="color:darkblue ;background-color:white" ng-click="toggleSidebar()">
              <img src="~/assets/images/logo.jpg" alt="InShow" style="height:50px">
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#">Template <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
          <li class="sidebar-list">
              <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
          </li>
        <li class="sidebar-list">
          <a href="#/profile">Profile <span class="menu-icon fa fa-table"></span></a>
        </li>
          @*<li class="sidebar-list">
              <a href="#/Listings">Listings <span class="menu-icon fa fa-table"></span></a>
          </li>*@
          @if (mw.agent != null)
          {
          <li class="sidebar-list">
              <a href="#/InShow">InShow <span class="menu-icon fa fa-table"></span></a>
          </li>
          }
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
     
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img class="img-thumbnail" src="@imageurl">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Joe Bloggs
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                   @Html.ActionLink("Logout", "Logout", "AuthSurface")
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
          <rd-loading ng-show="showSpinner"></rd-loading>        <!-- End Header Bar -->
            @RenderBody()
        <!-- Main Content -->
       

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
