@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.DashboardMaster>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>RDash AngularJS</title>
  <!-- STYLES -->
  <link rel="stylesheet" href="/assets/lib/css/main.min.css"/>
  <!-- SCRIPTS -->
  <script src="/assets/lib/js/main.min.js"></script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="/assets/js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
 @RenderBody()
  
      
  </div><!-- End Page Wrapper -->
</body>
</html>
