@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@using Umbraco.Web
@using wg2k.umbraco
@using ExtensionMethods
@using InShow.Controllers
@using InShow.Models


@{
    try
    {
        if (Request.QueryString["x"].ToString() == "true")
        {
            
            @((new uHateoas(Model,true)).Process())
            return;
        }
    }
    catch
    { }
    Layout = "Master.cshtml";
}
<div style="margin-top:100px;" class="wrapper">
    <div class="container">
        <h1>Login</h1>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                @Html.Action("RenderLogin", "AuthSurface")
            </div>
        </div>
      
    </div>
</div>