<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f506f90b-d052-4302-a163-3102a59b0279</Key>
    <Name>Email template</Name>
    <Alias>EmailTemplate</Alias>
    <Icon>icon-layout</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Master>
    <Compositions>
      <Composition Key="811403cb-a952-4772-b075-b0bb8435b4ee">Perplexmail</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b40dc5dc-c5f5-4132-81a6-aabf231c2944</Key>
      <Name>CSS</Name>
      <Alias>css</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b639be6f-8dc5-4247-af75-fc93519ebc6b</Key>
      <Name>Template</Name>
      <Alias>template</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Use the tag [#content#] to specify where the content of the e-mail should be rendered]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>