<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>1eb29642-1c4f-4c69-b51f-34b723ecc0c1</Key>
    <Name>Property</Name>
    <Alias>property</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="20118a72-94ff-45dd-981f-ba53017fb7ac">suburb</Master>
    <Compositions>
      <Composition Key="20118a72-94ff-45dd-981f-ba53017fb7ac">suburb</Composition>
    </Compositions>
    <DefaultTemplate>Property</DefaultTemplate>
    <AllowedTemplates>
      <Template>Property</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>92e7b6e0-b47a-4e3d-bffe-f4f297043795</Key>
      <Name>Bathrooms</Name>
      <Alias>bathrooms</Alias>
      <Definition>874648a0-fa87-4bf4-b9b9-ffb2b1aac3d3</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2e8e9c7e-1617-42a7-b732-5b1f38b7f7f8</Key>
      <Name>Bedrooms</Name>
      <Alias>bedrooms</Alias>
      <Definition>e817672d-fd0b-4663-a92a-77598aab9ae8</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a68c083d-0f64-4954-bd32-c2237bccc439</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>12ea14db-226d-4bd1-9153-f91b5448655b</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1e45d1cf-be7c-4df5-be04-94c37feb21ef</Key>
      <Name>Filters</Name>
      <Alias>filters</Alias>
      <Definition>b79feb91-eda8-4e6f-8157-11819ec1c26a</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4e0229b5-56e8-4985-971b-d0ef0b8c2bc3</Key>
      <Name>Garages</Name>
      <Alias>garages</Alias>
      <Definition>6b10b29c-e3a2-4ecb-b28a-7e22e417e0c9</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>31f580d7-61b7-448f-bcaa-92c13d4cd92b</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>158bafb1-c3cd-4e93-b640-001ac102a428</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Images</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a8c7a9d5-ac81-443d-b0be-7507f839364f</Key>
      <Name>P24Url</Name>
      <Alias>p24Url</Alias>
      <Definition>48f2b382-80a6-44a5-b50e-db47ec7d8bf9</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Property24 Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cadbd0ce-2166-49c1-ac35-aabad4738d84</Key>
      <Name>Selling Price</Name>
      <Alias>sellingPrice</Alias>
      <Definition>cd1422d1-0d61-421f-9454-8cd9b0b81c26</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>72d6bc49-fcb4-42c1-956a-2533704f09da</Key>
      <Name>Shedule</Name>
      <Alias>shedule</Alias>
      <Definition>a157fd64-3e05-4b63-b1a5-53f677551eb8</Definition>
      <Type>Our.Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shedule</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>41f71ee2-8ade-4ae9-a561-f3e7de83e057</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>a1ad88f4-a502-45ef-b0b4-39f1e043df1f</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Property24 Details</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Shedule</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Images</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>