<?xml version="1.0" encoding="utf-8"?>
<suburb guid="794d8e4b-f0d9-4555-9cad-5cdd8030b29f" id="1253" nodeName="Zandspruit" isDoc="" updated="2016-04-20T14:57:03.717Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="87" published="true">
  <geo><![CDATA[-26.0101842,27.94100979999996]]></geo>
</suburb>