<?xml version="1.0" encoding="utf-8"?>
<MemberType>
  <Info>
    <Key>8a9aee91-3f94-44ed-9c79-6f1de4efdfc1</Key>
    <Name>Sitter</Name>
    <Alias>sitter</Alias>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ca0d9a5-41e9-4b9a-a45b-d45452c4ce63</Key>
      <Name>Cell Number</Name>
      <Alias>cellNumber</Alias>
      <Definition>74e97568-7e1e-4bf0-ad5b-21f22b7608c3</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>a7ed5f97-8e14-495f-8e56-1d500e27f5e8</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>55856b39-a56a-4bf8-a2df-67cb9cbf4b52</Key>
      <Name>Failed Password Attempts</Name>
      <Alias>umbracoMemberFailedPasswordAttempts</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ccde4649-72ec-43a0-ada5-64b792c54ae2</Key>
      <Name>Full Name</Name>
      <Alias>fullName</Alias>
      <Definition>5305aa69-2bd6-4091-85db-03961ad4998f</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>22940d5b-d684-4213-874b-791d6c5767ee</Key>
      <Name>Is Approved</Name>
      <Alias>umbracoMemberApproved</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>62cf45b5-5483-4178-8f75-fd0a97cd7efd</Key>
      <Name>Is Locked Out</Name>
      <Alias>umbracoMemberLockedOut</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>e831cce0-c666-4208-8640-fdeea80ef63d</Key>
      <Name>Last Lockout Date</Name>
      <Alias>umbracoMemberLastLockoutDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>4d4fac90-9243-4655-b106-1222dc03e700</Key>
      <Name>Last Login Date</Name>
      <Alias>umbracoMemberLastLogin</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>3e952c01-b125-493c-bc01-2f44be63796a</Key>
      <Name>Last Password Change Date</Name>
      <Alias>umbracoMemberLastPasswordChangeDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>6a833f40-2a81-454e-beff-153f764b66fe</Key>
      <Name>Password Answer</Name>
      <Alias>umbracoMemberPasswordRetrievalAnswer</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>77ff4b31-fefd-46a8-a3f2-b646069b891e</Key>
      <Name>Password Question</Name>
      <Alias>umbracoMemberPasswordRetrievalQuestion</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ee73620b-a5d7-4f6a-81c5-a270041b55d7</Key>
      <Name>Picture</Name>
      <Alias>picture</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Membership</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MemberType>