<?xml version="1.0" encoding="utf-8"?>
<MemberType>
  <Info>
    <Key>ca161020-fcc3-4a01-93c5-05502037749d</Key>
    <Name>Buyer</Name>
    <Alias>buyer</Alias>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cafa39b7-c1b2-4d3d-9358-a5f1588dc973</Key>
      <Name>Cell Number</Name>
      <Alias>cellNumber</Alias>
      <Definition>a8d50644-e10b-4856-9f53-1d9670ed92b3</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>bdc76d1c-8461-43aa-aa0f-c3188e6575d6</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>2b51efbf-1305-47f0-86bd-46e25aa2c6e9</Key>
      <Name>Failed Password Attempts</Name>
      <Alias>umbracoMemberFailedPasswordAttempts</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>a2de56f7-ee73-4018-8fc0-f76e3129ab79</Key>
      <Name>First Name</Name>
      <Alias>firstName</Alias>
      <Definition>aeaa2cf3-c00c-43a5-a0e9-c0d5c9ac5e51</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>707f5176-f182-4ef7-bde1-9cd9f6e0b2e6</Key>
      <Name>Has Verified Cell</Name>
      <Alias>hasVerifiedCell</Alias>
      <Definition>a631bc93-62c3-4c11-91a9-59c6d615fc16</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>9d121592-635e-4c8a-b98b-944b6b0e03a9</Key>
      <Name>Has Verified Email</Name>
      <Alias>hasVerifiedEmail</Alias>
      <Definition>00461057-bee4-4f82-9fb0-08e88328159a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>e1f7d363-c730-48e2-9df2-a071398d1d7a</Key>
      <Name>Is Approved</Name>
      <Alias>umbracoMemberApproved</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>fb8c3ee3-2e71-4499-8385-3511988b38b1</Key>
      <Name>Is Locked Out</Name>
      <Alias>umbracoMemberLockedOut</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>4af69384-5b3c-4a42-9a0c-c7441c9ece5c</Key>
      <Name>Last Lockout Date</Name>
      <Alias>umbracoMemberLastLockoutDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>be787f26-79b3-492e-a7ea-07baf26bc49b</Key>
      <Name>Last Login Date</Name>
      <Alias>umbracoMemberLastLogin</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>2e8d34a4-69b7-4d66-95b6-fb1802c830e0</Key>
      <Name>Last Name</Name>
      <Alias>lastName</Alias>
      <Definition>7c8a1462-6ace-4073-83b4-71a4ae9b8708</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ec6592c9-9df9-453a-9aca-a946c72c7e16</Key>
      <Name>Last Password Change Date</Name>
      <Alias>umbracoMemberLastPasswordChangeDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>5e46b4c3-615f-40e6-92f2-ad83289453ad</Key>
      <Name>OTP</Name>
      <Alias>oTP</Alias>
      <Definition>25883d99-670d-469f-a126-2403a2956778</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>42df7084-9d9b-4e06-a72c-f81a89201433</Key>
      <Name>Password Answer</Name>
      <Alias>umbracoMemberPasswordRetrievalAnswer</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>a9585c6a-1482-42a6-97f9-df47542fb3b5</Key>
      <Name>Password Question</Name>
      <Alias>umbracoMemberPasswordRetrievalQuestion</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>88d96926-6a1e-4edf-952c-6dd3e156d98e</Key>
      <Name>Profile Url</Name>
      <Alias>profileUrl</Alias>
      <Definition>615970d7-429f-4141-b611-5d6c20ddaefe</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Membership</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MemberType>