<?xml version="1.0" encoding="utf-8"?>
<PerplexmailFolder guid="b471ea06-98d2-44b7-a925-d24e20360ef0" id="1386" nodeName="PerplexMail" isDoc="" updated="2016-04-21T15:20:40.183Z" parentGUID="00000000-0000-0000-0000-000000000000" nodeTypeAlias="PerplexmailFolder" templateAlias="" sortOrder="4" published="false">
  <internalRemarks></internalRemarks>
  <umbracoNaviHide>0</umbracoNaviHide>
</PerplexmailFolder>