<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Filters" Key="30c6d84e-c0da-465b-9313-902e4f7e16ed" Id="Umbraco.CheckBoxList" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="47" Value="Pool" Alias="0" />
    <PreValue Id="48" Value="Patio" Alias="1" />
    <PreValue Id="49" Value="Air conditioning" Alias="2" />
    <PreValue Id="50" Value="Balcony" Alias="3" />
  </PreValues>
</DataType>