<?xml version="1.0" encoding="utf-8"?>
<MemberType>
  <Info>
    <Key>9a8ab60c-f960-40d7-9cc1-323f2c54b60c</Key>
    <Name>Sponser</Name>
    <Alias>sponser</Alias>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f7bb0b90-4e07-4e7b-adc6-f05b9bb72a28</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>f08137ff-9108-4764-960c-4df718094394</Key>
      <Name>Failed Password Attempts</Name>
      <Alias>umbracoMemberFailedPasswordAttempts</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>2292f5e5-05f0-448c-a767-81b5d5b00e3f</Key>
      <Name>Is Approved</Name>
      <Alias>umbracoMemberApproved</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>d4065d3d-d99c-4571-94f1-f447227a01fb</Key>
      <Name>Is Locked Out</Name>
      <Alias>umbracoMemberLockedOut</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>6f6e8a61-77dd-4262-9fc4-ffa974141353</Key>
      <Name>Last Lockout Date</Name>
      <Alias>umbracoMemberLastLockoutDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>c7b94c7f-7ec6-4df9-a5d1-7ccbedfdb50a</Key>
      <Name>Last Login Date</Name>
      <Alias>umbracoMemberLastLogin</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>a664bb9b-f128-4813-a4cf-7795573969eb</Key>
      <Name>Last Password Change Date</Name>
      <Alias>umbracoMemberLastPasswordChangeDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>07c0e346-1a6f-4a67-b3ad-792d14515181</Key>
      <Name>Password Answer</Name>
      <Alias>umbracoMemberPasswordRetrievalAnswer</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5fbbbb-a01c-46e8-a0fe-cc576c6e527f</Key>
      <Name>Password Question</Name>
      <Alias>umbracoMemberPasswordRetrievalQuestion</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Membership</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>