<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Selling Price - Numeric" Key="cd1422d1-0d61-421f-9454-8cd9b0b81c26" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="130" Value="" Alias="min" />
    <PreValue Id="131" Value="" Alias="step" />
    <PreValue Id="132" Value="" Alias="max" />
  </PreValues>
</DataType>