<?xml version="1.0" encoding="utf-8"?>
<MemberType>
  <Info>
    <Key>ca161020-fcc3-4a01-93c5-05502037749d</Key>
    <Name>Buyer</Name>
    <Alias>buyer</Alias>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d44d0649-e8bd-4382-b1a3-5d6ccddb17ce</Key>
      <Name>Cell Number</Name>
      <Alias>cellNumber</Alias>
      <Definition>a8d50644-e10b-4856-9f53-1d9670ed92b3</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ace365b6-4da3-46e5-8060-da11d6e34463</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ea12d559-8a11-4981-bde8-08c638728dac</Key>
      <Name>Failed Password Attempts</Name>
      <Alias>umbracoMemberFailedPasswordAttempts</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>1af5f319-36f5-421e-aadc-af59976b00c3</Key>
      <Name>First Name</Name>
      <Alias>firstName</Alias>
      <Definition>aeaa2cf3-c00c-43a5-a0e9-c0d5c9ac5e51</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>93e9962f-2f80-4d03-81f2-34d61c891abe</Key>
      <Name>Has Verified Cell</Name>
      <Alias>hasVerifiedCell</Alias>
      <Definition>a631bc93-62c3-4c11-91a9-59c6d615fc16</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>094ceaf1-639f-48a3-8706-f050f6373e24</Key>
      <Name>Has Verified Email</Name>
      <Alias>hasVerifiedEmail</Alias>
      <Definition>00461057-bee4-4f82-9fb0-08e88328159a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>4d818c8c-0fdd-4ea2-9a2f-d7425eca8fa2</Key>
      <Name>Is Approved</Name>
      <Alias>umbracoMemberApproved</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>12f8b19b-94d0-4ce4-9026-b73ccc1faf23</Key>
      <Name>Is Locked Out</Name>
      <Alias>umbracoMemberLockedOut</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>17925f5d-97c3-4c12-8b6a-653e61409c09</Key>
      <Name>Last Lockout Date</Name>
      <Alias>umbracoMemberLastLockoutDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>abc4f754-ceb1-4646-816c-9e39491fb715</Key>
      <Name>Last Login Date</Name>
      <Alias>umbracoMemberLastLogin</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>537c69d8-9991-4092-a4bb-8eca409c5a9a</Key>
      <Name>Last Name</Name>
      <Alias>lastName</Alias>
      <Definition>7c8a1462-6ace-4073-83b4-71a4ae9b8708</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>f1138418-97b1-4854-8aa8-96ef79879b46</Key>
      <Name>Last Password Change Date</Name>
      <Alias>umbracoMemberLastPasswordChangeDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>c405e22a-8a44-4fee-a0fb-500fe759fbd6</Key>
      <Name>OTP</Name>
      <Alias>oTP</Alias>
      <Definition>25883d99-670d-469f-a126-2403a2956778</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>c7899335-c1e9-4ebd-b5df-19a08a4dfc49</Key>
      <Name>Password Answer</Name>
      <Alias>umbracoMemberPasswordRetrievalAnswer</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>adfd477e-80b4-4065-92fa-b4192e6df311</Key>
      <Name>Password Question</Name>
      <Alias>umbracoMemberPasswordRetrievalQuestion</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>66074b0e-79d2-451a-b14a-0896d46ba6db</Key>
      <Name>Profile Url</Name>
      <Alias>profileUrl</Alias>
      <Definition>615970d7-429f-4141-b611-5d6c20ddaefe</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Membership</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MemberType>