<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>20118a72-94ff-45dd-981f-ba53017fb7ac</Key>
    <Name>Suburb</Name>
    <Alias>suburb</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="93a3a2a1-5487-4934-880a-793956534078">city</Master>
    <Compositions>
      <Composition Key="93a3a2a1-5487-4934-880a-793956534078">city</Composition>
    </Compositions>
    <DefaultTemplate>Suburb</DefaultTemplate>
    <AllowedTemplates>
      <Template>Suburb</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="1eb29642-1c4f-4c69-b51f-34b723ecc0c1">property</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>