<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>c324f5af-68bf-4f2e-8264-92b005d84863</Key>
    <Name>Page</Name>
    <Alias>page</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Master>
    <Compositions>
      <Composition Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Composition>
    </Compositions>
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template>Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1771fa34-9869-4e85-a564-e448dfd9c471</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>4d816bc4-a12c-4c4b-b12a-ca270aba634f</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>