<?xml version="1.0" encoding="utf-8"?>
<EmailTemplateFolder guid="b00ff0c7-3b75-44ac-8e9d-f3b3136f3123" id="1387" nodeName="Templates" isDoc="" updated="2016-04-21T15:44:13.857Z" parentGUID="b471ea06-98d2-44b7-a925-d24e20360ef0" nodeTypeAlias="EmailTemplateFolder" templateAlias="" sortOrder="0" published="true">
  <internalRemarks></internalRemarks>
  <umbracoNaviHide>0</umbracoNaviHide>
</EmailTemplateFolder>