<?xml version="1.0" encoding="utf-8"?>
<MemberType>
  <Info>
    <Key>ca161020-fcc3-4a01-93c5-05502037749d</Key>
    <Name>Buyer</Name>
    <Alias>buyer</Alias>
    <Icon>icon-user</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4fb513e1-3208-46d7-abb1-a77575d219d2</Key>
      <Name>Cell Number</Name>
      <Alias>cellNumber</Alias>
      <Definition>a8d50644-e10b-4856-9f53-1d9670ed92b3</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>63419911-08c6-4af5-b54c-c6467a013f95</Key>
      <Name>Comments</Name>
      <Alias>umbracoMemberComments</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>1d405d0a-35c1-45b0-9fbb-3ee9c52f00ef</Key>
      <Name>Failed Password Attempts</Name>
      <Alias>umbracoMemberFailedPasswordAttempts</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>ed8b3d79-bd59-40af-b475-b1c6b6a7123c</Key>
      <Name>First Name</Name>
      <Alias>firstName</Alias>
      <Definition>aeaa2cf3-c00c-43a5-a0e9-c0d5c9ac5e51</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>c75b6e50-46f1-4e2a-aaed-a63542e2db56</Key>
      <Name>Has Verified Cell</Name>
      <Alias>hasVerifiedCell</Alias>
      <Definition>a631bc93-62c3-4c11-91a9-59c6d615fc16</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>1b0eb741-0ae2-4c4d-a098-cb3e92988e91</Key>
      <Name>Has Verified Email</Name>
      <Alias>hasVerifiedEmail</Alias>
      <Definition>00461057-bee4-4f82-9fb0-08e88328159a</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>6f4346f6-2322-44e8-8769-ce0c155e24bc</Key>
      <Name>Is Approved</Name>
      <Alias>umbracoMemberApproved</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>94c6fe2e-fc51-4c8e-aa1b-987a34ce493b</Key>
      <Name>Is Locked Out</Name>
      <Alias>umbracoMemberLockedOut</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>d9ed422b-3de5-47f6-9aee-30a2d08be4f1</Key>
      <Name>Last Lockout Date</Name>
      <Alias>umbracoMemberLastLockoutDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>a2cdda19-4292-424c-9a9a-eb140628414d</Key>
      <Name>Last Login Date</Name>
      <Alias>umbracoMemberLastLogin</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>497f6bcc-5ad1-4059-bfaa-7b645a8ccb05</Key>
      <Name>Last Name</Name>
      <Alias>lastName</Alias>
      <Definition>7c8a1462-6ace-4073-83b4-71a4ae9b8708</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>f816bf3c-f831-4fe5-82b6-fe48ec8e788a</Key>
      <Name>Last Password Change Date</Name>
      <Alias>umbracoMemberLastPasswordChangeDate</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>bc07e843-b580-4680-a00a-e35c323b453e</Key>
      <Name>OTP</Name>
      <Alias>oTP</Alias>
      <Definition>25883d99-670d-469f-a126-2403a2956778</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>d70493fe-4cf3-4e39-b62c-085b66617417</Key>
      <Name>Password Answer</Name>
      <Alias>umbracoMemberPasswordRetrievalAnswer</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>d2f34995-b3a7-497c-918e-4989c79a3d85</Key>
      <Name>Password Question</Name>
      <Alias>umbracoMemberPasswordRetrievalQuestion</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
    <GenericProperty>
      <Key>1a1a3475-b3cb-4649-9f99-87a09c38831a</Key>
      <Name>Profile Url</Name>
      <Alias>profileUrl</Alias>
      <Definition>615970d7-429f-4141-b611-5d6c20ddaefe</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Membership</Tab>
      <CanEdit>false</CanEdit>
      <CanView>false</CanView>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Membership</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MemberType>