<?xml version="1.0" encoding="utf-8"?>
<suburb guid="dd79f267-73b1-4648-91c9-5e5a49c6f4a4" id="1175" nodeName="Davidsonville" isDoc="" updated="2016-04-20T14:56:55.86Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="11" published="true">
  <geo><![CDATA[-26.1549591,27.851656400000024]]></geo>
</suburb>