<?xml version="1.0" encoding="utf-8"?>
<suburb guid="14432c69-a735-4e0e-ad4e-d808c2d5ffbd" id="1169" nodeName="Bergbron" isDoc="" updated="2016-04-20T14:56:55.4Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="5" published="true">
  <geo><![CDATA[-26.1676668,27.952724999999987]]></geo>
</suburb>