<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property Type" Key="06076339-f0b8-467b-a113-f274b50d3fe9" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="44" Value="Flat/Apartment" Alias="0" />
    <PreValue Id="45" Value="House" Alias="1" />
    <PreValue Id="46" Value="Townhouse" Alias="2" />
  </PreValues>
</DataType>