<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multi Member Picker" Key="80df066f-9c7b-43e9-8be8-73a17a00f4b6" Id="Umbraco.MultiNodeTreePicker" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="116" Value="{&#xD;&#xA;  &quot;type&quot;: &quot;member&quot;,&#xD;&#xA;  &quot;id&quot;: -1,&#xD;&#xA;  &quot;query&quot;: &quot;&quot;&#xD;&#xA;}" Alias="startNode" />
    <PreValue Id="117" Value="" Alias="filter" />
    <PreValue Id="118" Value="" Alias="minNumber" />
    <PreValue Id="119" Value="" Alias="maxNumber" />
    <PreValue Id="120" Value="0" Alias="showOpenButton" />
    <PreValue Id="121" Value="0" Alias="showEditButton" />
    <PreValue Id="122" Value="1" Alias="showPathOnHover" />
  </PreValues>
</DataType>