<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>23edd3ab-ef90-438e-a6b6-44bb7373a084</Key>
    <Name>Schedule</Name>
    <Alias>schedule</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Master>
    <Compositions>
      <Composition Key="deace2f2-07d8-4081-a60b-76264947fd59">master</Composition>
    </Compositions>
    <DefaultTemplate>Schedule</DefaultTemplate>
    <AllowedTemplates>
      <Template>Schedule</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a446d8c1-5b6c-4658-8c54-c3518a3c125d</Key>
      <Name>Agent</Name>
      <Alias>agent</Alias>
      <Definition>562fe117-a022-4117-9a40-4465e982fa0b</Definition>
      <Type>Umbraco.MemberPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Shedule</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1efdcf6b-3806-48f3-9c47-18af6bc9f7a5</Key>
      <Name>End Time</Name>
      <Alias>endTime</Alias>
      <Definition>10013835-7924-4eee-b0fa-726e785cf808</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shedule</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>37005c41-e259-467c-8a3f-b62a113711c8</Key>
      <Name>Start Time</Name>
      <Alias>startTime</Alias>
      <Definition>dc24300b-b107-40b3-bbfa-39cbd13621f5</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shedule</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shedule</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>