<?xml version="1.0" encoding="utf-8"?>
<suburb guid="c6439559-fad9-4937-9aa9-321b1a7aa4c4" id="1193" nodeName="Groblerpark" isDoc="" updated="2016-04-20T14:56:57.547Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="29" published="true">
  <geo><![CDATA[-26.1465609,27.839934599999992]]></geo>
</suburb>