<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Filters - Checkbox list" Key="b79feb91-eda8-4e6f-8157-11819ec1c26a" Id="Umbraco.CheckBoxList" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="133" Value="Pool" Alias="0" />
    <PreValue Id="134" Value="Lapa" Alias="1" />
    <PreValue Id="135" Value="Patio" Alias="2" />
    <PreValue Id="136" Value="Carport" Alias="3" />
  </PreValues>
</DataType>