<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Agency - Agency Credits - Numeric" Key="70ac0042-49cd-4f82-936c-f4d299e8f519" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="99" Value="" Alias="min" />
    <PreValue Id="100" Value="" Alias="step" />
    <PreValue Id="101" Value="" Alias="max" />
  </PreValues>
</DataType>