<?xml version="1.0" encoding="utf-8"?>
<suburb guid="fc187499-dd94-43f0-bc5e-e887bd68d6a5" id="1208" nodeName="Kimbult AH" isDoc="" updated="2016-04-20T14:56:59.417Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="44" published="true">
  <geo><![CDATA[-26.0878164,27.903662499999996]]></geo>
</suburb>