<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Agency - Agents - Multinode Treepicker" Key="2b07afe1-e7be-46b4-842c-7382a6858639" Id="Umbraco.MultiNodeTreePicker" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue Id="123" Value="{&#xD;&#xA;  &quot;type&quot;: &quot;member&quot;,&#xD;&#xA;  &quot;id&quot;: -1,&#xD;&#xA;  &quot;query&quot;: &quot;&quot;&#xD;&#xA;}" Alias="startNode" />
    <PreValue Id="124" Value="" Alias="filter" />
    <PreValue Id="125" Value="" Alias="minNumber" />
    <PreValue Id="126" Value="" Alias="maxNumber" />
    <PreValue Id="127" Value="0" Alias="showOpenButton" />
    <PreValue Id="128" Value="0" Alias="showEditButton" />
    <PreValue Id="129" Value="1" Alias="showPathOnHover" />
  </PreValues>
</DataType>