<?xml version="1.0" encoding="utf-8"?>
<suburb guid="21f68ddc-55a6-4591-b636-45adc218ac6a" id="1232" nodeName="Roodekrans" isDoc="" updated="2016-04-20T14:57:01.133Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="63" published="true">
  <geo><![CDATA[-26.1073654,27.845795599999974]]></geo>
</suburb>