<?xml version="1.0" encoding="utf-8"?>
<suburb guid="e3ffd906-7286-4073-bdab-93c30c5a466c" id="1229" nodeName="Reefhaven" isDoc="" updated="2016-04-20T14:57:00.887Z" parentGUID="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" nodeTypeAlias="suburb" templateAlias="Suburb" sortOrder="61" published="true">
  <geo><![CDATA[-26.1453359,27.85715069999992]]></geo>
</suburb>