<?xml version="1.0" encoding="utf-8"?>
<DataType Name="WebsiteSite - umbracoPermanentRedirect - Content Picker" Key="1e66308e-e798-486b-a194-4bcb90bbb238" Id="Umbraco.ContentPickerAlias" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="20" Value="0" Alias="showOpenButton" />
    <PreValue Id="21" Value="0" Alias="showEditButton" />
    <PreValue Id="22" Value="-1" Alias="startNodeId" />
    <PreValue Id="23" Value="0" Alias="showPathOnHover" />
  </PreValues>
</DataType>