<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Site - Counter - Numeric" Key="88003254-00fa-4b06-874b-b4581712e74a" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="153" Value="0" Alias="min" />
    <PreValue Id="154" Value="1" Alias="step" />
    <PreValue Id="155" Value="10000000" Alias="max" />
  </PreValues>
</DataType>