<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Bedrooms - Numeric" Key="4cee8170-7b83-4e25-8906-d80f2696d96e" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="54" Value="1" Alias="min" />
    <PreValue Id="55" Value="1" Alias="step" />
    <PreValue Id="56" Value="20" Alias="max" />
  </PreValues>
</DataType>