<?xml version="1.0" encoding="utf-8"?>
<EmailFolder guid="f4171e2f-08b3-482c-8b27-ef2ee623553b" id="1389" nodeName="E-mails" isDoc="" updated="2016-04-21T15:20:40.41Z" parentGUID="b471ea06-98d2-44b7-a925-d24e20360ef0" nodeTypeAlias="EmailFolder" templateAlias="" sortOrder="1" published="false">
  <internalRemarks></internalRemarks>
  <umbracoNaviHide>0</umbracoNaviHide>
  <replyTo><![CDATA[[
  {}
]]]></replyTo>
  <cc><![CDATA[[
  {}
]]]></cc>
  <from><![CDATA[[
  {
    "Address": "noreply@domain.com",
    "DisplayName": "Put in your own domain and name"
  }
]]]></from>
  <to><![CDATA[[
  {}
]]]></to>
  <bcc><![CDATA[[
  {}
]]]></bcc>
  <statistics></statistics>
  <logExpiration></logExpiration>
</EmailFolder>