<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Property - Garages - Numeric" Key="6b10b29c-e3a2-4ecb-b28a-7e22e417e0c9" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue Id="143" Value="0" Alias="min" />
    <PreValue Id="144" Value="1" Alias="step" />
    <PreValue Id="145" Value="5" Alias="max" />
  </PreValues>
</DataType>