<?xml version="1.0" encoding="utf-8"?>
<city guid="f6cc863b-15ca-4ebc-a3b2-f006cdd637d8" id="1142" nodeName="Roodepoort" isDoc="" updated="2016-04-20T14:56:54.943Z" parentGUID="58e666ce-9b41-4a05-ba6b-3747a92bf2d7" nodeTypeAlias="city" templateAlias="City" sortOrder="0" published="true">
  <geo><![CDATA[-26.1201355,27.901465400000006]]></geo>
</city>