<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>deace2f2-07d8-4081-a60b-76264947fd59</Key>
    <Name>Master</Name>
    <Alias>master</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Master template</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>Master</DefaultTemplate>
    <AllowedTemplates>
      <Template>Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="c324f5af-68bf-4f2e-8264-92b005d84863">page</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>